body{
    background-color: rgb(252, 246, 156);
}

.jumbotron{
    margin-top: 50px;
    background-image: url('/asset/bg4.png');
    background-size: cover;
}


.button .btn{
    background-color: rgb(255, 111, 181);
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    box-shadow: 4px 4px 00 rgba(0, 0, 0);
}

.btn{
    padding: 10px;
}

form{
    margin-top: 200px;
    background-color: white;
    height: 120px;
    border: 2px solid black;
    border-radius: 10px;
}

.bt{
    border-top: 2px solid black;
}



.form-control{
    border: none;
    border-bottom: 2px solid black;
}

